body {
    background-color: lightblue;
}

.notecard {
    resize: none;
    height: 240px;
    width: 400px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 18px;
}

#navbar {
    height: 40px;
    width: 100%;
    background-color: white;
}